// mixins
@import '../styles/mixins/screen.scss';
@import '../styles/mixins/shake.scss';

// pages
@import '../pages/Login/style';
@import '../pages/Signup/style';
@import '../pages/ForgotPassword/style';
@import '../pages/Main/style';
@import '../pages/Account/style';
@import '../pages/Update/style';
@import '../pages/Settings/style';

// components
@import '../components/Calendar/style';
@import '../components/Header/style';
@import '../components/HabitBox/style';
@import '../components/StatsBox/style';
@import '../components/About/style';
@import '../components/Footer/style';
@import '../components/Donate/style';
@import '../components/Modal/style';
@import '../components/Share/style';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0 1rem;
  background: #F5F8FF;

  &.dark {
    background: #1A1F23;
    color: #EB196D;
    a, .arrow, .action {
      color: #F8FAFB;
    }
    button {
      background-color: #333333;
      color: #EB196D;
      border-color: transparent;
      cursor: pointer;
    }
    h1 {
      color: #EB196D;
    }
    textarea {
      background-color: #333333;
      color: white;
      border-color: #EB196D;
    }
    .border {
      border-color: #EB196D;
    }
    .calendar .content .day.today {
      background-color: #333333;
    }
    .modal-container .modal-box {
      background-color: #1A1F23;
    }
  }
}

// https://www.w3schools.com/howto/howto_css_clearfix.asp
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.banner {
  text-align: center;
  padding: 0.25rem;
  border: 1px solid red;
  background-color: rgba($color: grey, $alpha: 0.15);
  z-index: 50;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.disabled {
  pointer-events:none;
  opacity: 0.5;
}

h1 {
  margin: 0.25rem auto 0;
  text-align: left;
  color: black;
}

a, .action {
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: #EFEFEF;
  padding: 0.25rem 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  &:focus {
    outline: none;
  }
}

input {
  background: #F5F8FF;
}

button, input {
  font-weight: 500;
}

legend {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
}

@include screen($tablet) {
  // https://css-tricks.com/eliminate-jumps-in-horizontal-centering-by-forcing-a-scroll-bar/
  html {
    overflow-y: scroll;
  }
  body {
    max-width: $tablet;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
