body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0 1rem;
  background: #F5F8FF;

  &.dark {
    background: #1A1F23;
    color: #EB196D;
    a, .arrow {
      color: #F8FAFB;
    }
    h1 {
      color: #EB196D;
    }
    .border {
      border-color: #EB196D;
    }
    .calendar .content .day.today {
      background-color: #333333;
    }
  }
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

h1 {
  margin: 0.25rem auto 0;
  text-align: left;
  color: black;
}

a {
  font-weight: 700;
  text-decoration: none;
}

input {
  background: #F5F8FF;
}

button, input {
  font-weight: 500;
}

legend {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
}

// mixins
@import '../styles/mixins/screen.scss';

// pages
@import '../pages/Login/_Login.scss';
@import '../pages/Signup/_Signup.scss';
@import '../pages/Main/_Main.scss';
@import '../pages/Settings/_Settings.scss';

// components
@import '../components/Calendar/_Calendar.scss';
@import '../components/Header/_Header.scss';
@import '../components/HabitBox/_HabitBox.scss';
@import '../components/StatsBox/_StatsBox.scss';
@import '../components/About/_About.scss';
@import '../components/Footer/_Footer.scss';
@import '../components/Donate/_Donate.scss';
@import '../components/Modal/_Modal.scss';

@include screen($tablet) {
  // https://css-tricks.com/eliminate-jumps-in-horizontal-centering-by-forcing-a-scroll-bar/
  html {
    overflow-y: scroll;
  }
  body {
    max-width: $tablet;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
