// TODO: Cleanup
.calendar {
  // width: calc(320px - 24px);
  padding-bottom: 1rem;
  button {
    cursor: pointer;
    min-width: 75px;
  }
  .header {
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
  }
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .day {
      width: 14.1%;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.today {
        background-color: #e6e6e6;
      }
      &.selected {
      }
      &.success {
        position: relative;
        &::before {
          content: 'x';
          color: red;
          font-weight: 700;
          font-size: 2em;
          position: absolute;
          top: -21%;
          z-index: 10;
        }
      }
    }
  }
}
