.calendar {
  // width: calc(320px - 24px);
  padding-bottom: 1rem;
  button {
    cursor: pointer;
    min-width: 75px;
  }
  .header {
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
  }
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .day {
      width: 14.1%;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.today {
        // border: 1px solid #eee;
      }
      &.selected {
        // background-color: #eee;
      }
      &.success {
        position: relative;
        &::before {
          content: 'x';
          color: red;
          font-size: 4em;
          position: absolute;
          top: -68%;
          left: 16%;
          z-index: 10;
        }
      }
    }
  }
}
