.calendar {
  width: calc(320px - 48px);
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px #eee;
  margin: 0 auto;
  button {
    cursor: pointer;
  }
  .header {
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f6fa;
  }
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .day {
      width: 14.2%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.today {
        border: 1px solid #eee;
      }
      &.selected {
        background-color: #eee;
      }
    }
  }
}
