.header {
  margin: 1rem 0;
  h1 {
    display: inline;
  }
  .options {
    position: relative;
    float: right;
    margin: 0.9rem 0;
    .account {
      display: inline;
      padding-right: 3.6rem;
      a, .action {
        margin-right: 0.75rem;
      }
    }
    .theme-toggle, .settings-toggle {
      font-size: 1.3rem;
      position: absolute;
      top: -3px;
    }
    .theme-toggle {
      right: 36px;
    }
    .settings-toggle {
      right: 0;
    }
  }
  @include screen($tablet) {
    .options {
      .account {
        a, .action {
          margin-right: 1rem;
        }
      }
    }
  }
}
